@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@import play.api.libs.ws.WSResponse
@(message: String, response: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@message</title>
    </head>
    <body>
        You have been authorized to use Spotify data!
        Response from redirect uri call is: @response
    </body>
</html>